html {
    height: 100%;
}

html, body, #fullheight {
    min-height: 100% !important;
    height: 100%;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
    position:absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

}