.hide{
    display: none !important;
}

.homeHeader{
    width: 100%;
    height: 37vh;
    position: relative;
}

.homeLogo{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fa-barsHome{
    position: relative;
    z-index: 2;
    background-color: white;
    border-radius: 50%;
    width: 10% !important;
    height: auto !important;
    aspect-ratio: 1;
    padding: 1rem;
    float: right;
    margin-top: 2rem;
    margin-right: 2rem;
}